@import "tailwindcss";

/* //////////////////////////////////////////////// */
/* @keyframes slideInRight {
    0% {
        transform: translateX(100%) translateY(0);
        opacity: 0;
    }
    70% {
        transform: translateX(-10px) translateY(-5px);
        opacity: 1;
    }
    85% {
        transform: translateX(65px) translateY(3px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
} */
 


/* //////////////////////////////////////////////// */

/* @keyframes slideInLeft {
    0% {
        transform: translateX(-100%) translateY(0);
        opacity: 0;
    }
    70% {
        transform: translateX(10px) translateY(-5px);
        opacity: 1;
    }
    85% {
        transform: translateX(-65px) translateY(3px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

/* //////////////////////////////////////////////// */

/* .slideLeft {
    animation: slideInLeft 1.7s ease-out forwards;
}

.slideRight {
    animation: slideInRight 1.7s ease-out forwards;
}
.hero div {
    border: 3px dotted black;

} */